{% extends 'base.html' %}

{% block meta %}
<head>
<title>Login</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% endblock meta %}

{% block content %}

<style>
    body {
        background-image: url(https://cdn.discordapp.com/attachments/867387325856088084/1027379558212706385/a33f887a52eced78d356c06b600b05c8.gif);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .center-me {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100vh;
      }

    .rcorners2 {
        border-radius: 15px 50px 30px;
        background: white;
        
    }

</style>

<body>
    <center>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


<div class = "center-me">
    <div class = "login">
        
            <div class = "rcorners2">
                <div class = "mx-auto">
                    <h1>Login</h1>
                
                    <form method="POST" action="">
                        {% csrf_token %}
                        <table>
                            <tr>
                                <td>Username: </td>
                                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
                            </tr>
                                    
                            <tr>
                                <td>Password: </td>
                                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
                            </tr>
                
                            <tr>
                                <td></td>
                                <td><input class="btn btn-primary" type="submit" value="Login"></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        
    
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
            
        Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>
    
    </div>
</div>

</center>
</body>

{% endblock content %}