{% extends 'base.html' %}

 {% block content %}

  <body bgcolor= #BDD9BF>

  <h1>Assignment 4 PBP/PBD : To Do List</h1>

  <h5>Username : </h5>
  <p>{{username}}</p>

  <button><a href="{% url 'todolist:add_task' %}">Add task</a></button>
  <button><a href="{% url 'todolist:logout' %}">Logout</a></button>

  <table style = "background-color: #FFFFFF">
    <tr>
      <th>Date</th>
      <th>Task</th>
      <th>Description</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for todo in list_todolist %}
        <tr>
            <th>{{todo.date}}</th>
            <th>{{todo.title}}</th>
            <th>{{todo.description}}</th>
        </tr>
    {% endfor %}
  </table>

 {% endblock content %}
